In [3]:
from constants import TRAIN_PATH
from utils import preprocess_data
import pandas as pd

data = pd.read_csv(TRAIN_PATH)
data = preprocess_data(data)
data

,Cluster,n_floors,area,car_place,wc,bedrooms,Distance to center 1,price
0,0.662078,-1.128175,-0.807277,1.015116,-0.459133,-0.945564,-1.171377,-1.681993
1,0.662078,-1.128175,-0.459654,1.015116,-0.684439,-0.850267,-1.026039,-0.072983
2,-1.510395,-0.162114,0.757026,-0.985109,-0.684439,-0.850267,0.793518,0.128601
3,0.662078,0.803947,0.583215,1.015116,-1.552841,-0.850267,0.165452,-1.407105
4,-1.510395,-0.162114,-0.198937,-0.985109,-0.915112,-1.769939,1.981076,-0.549455
...,...,...,...,...,...,...,...,...
4661,-1.510395,1.770007,0.192139,-0.985109,1.920767,0.989079,0.139504,1.466388
4662,0.662078,-0.162114,0.235592,1.015116,-0.684439,-0.850267,-1.371645,1.832905
4663,0.662078,-0.162114,1.495725,1.015116,-0.247454,0.642843,-1.171377,0.440140
4664,0.662078,0.803947,1.626083,-0.985109,0.183963,0.069406,1.044867,0.476792
4665,0.662078,-0.162114,0.409403,1.015116,0.778084,0.359462,-0.241314,0.293534